@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');
body {
    background-color: aqua;
    font-family: 'Inter', sans-serif;
}

.main {
    text-align: center;
    margin-top: 10%;
    font-size: 250%;
}

.hoverHide:hover {
    color:aqua;
    background-color: black;
}